table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 1%;
    width: 40%;
    padding: 10px;
}

th, td {
    border: 1px solid black;
}

tr {
    background-color: #ddd;
}

    tr:nth-child(2n) {
        background-color: #eee;
    }
body {
    background-image: repeating-linear-gradient(to left, #ebf7ff, #ffffd9);
    text-align: center;
}

nav {
    background-color: darkgrey;
    padding: 20px;
    border-style: solid;
    border-color: grey;
    display: flex;
    justify-content: space-evenly;
}

#title {
    background-image: repeating-linear-gradient(to right, #618c48, #488c7b);
    padding: 20px;
    border-style: solid;
    border-color: lightgreen;
}

#main_body {
    background-color: cornflowerblue;
    padding: 20px;
    border-style: solid;
    border-color: lightblue;
}

#subjects {
    background-image: repeating-linear-gradient(to top, lightblue, #adc2e6, #adc2e6, #adc2e6, lightblue);
    background-color: #adc2e6;
    padding: 20px;
    border-style: solid;
    border-color: lightblue;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.outer-error {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    right: 0;
}
.inner-error {
    color: #911;
    background-color: lightpink;
    border-radius: 0.25rem;
    max-width: 16rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    animation: fade-out 3s 10s both;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}