table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 1%;
    width: 40%;
    padding: 10px;
}

th, td {
    border: 1px solid black;
}

tr {
    background-color: #ddd;
}

    tr:nth-child(2n) {
        background-color: #eee;
    }
body {
    background-image: repeating-linear-gradient(to left, #ebf7ff, #ffffd9);
    text-align: center;
}

nav {
    background-color: darkgrey;
    padding: 20px;
    border-style: solid;
    border-color: grey;
    display: flex;
    justify-content: space-evenly;
}

div {
    background-color: #618c48;
    padding: 20px;
    border-style: solid;
    border-color: lightgreen;
}