<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | MyWebsite</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
    <nav id="navbar">
        {% if 'logged_in' in session %}
        You are logged in as {{ session.First_Name }}! <a href="/logout" class="button">Log out</a>
        {% else %}
        <a href="/login" class="button">Login</a>
        {% endif %}
        <a href="/subjects" class="button">Subject Dashboard</a>
        <a href="{{ url_for('add_user') }}" class="button">Add a new person</a>
        <a href="/" class="button">Home</a>
        <a href="/view?id={{ session.user_id }}" class="button">View your profile</a>
    </nav>
    {% block content %}{% endblock %}

    <ul class="outer-error">
        {% for message in get_flashed_messages() %}
        <li class="inner-error">{{ message }}</li>
        {% endfor %}
    </ul>
    <script>
        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
</body>
</html>