{% extends '_layout.html' %}

{% block title %}View{% endblock %}

{% block content %}

<h1>
    Hello 
    {{ result[0].First_Name }}
    {{ result[0].Last_Name }}
</h1>
<br>
{{ result[0].email }}
<br>
<p>These are the subjects that you have picked so far:</p>
<br>

{% for row in result %}
    <table>
        <thead>
            <tr>
                <th>User Id</th>
                <th>Subject Id</th>
            </tr>
        </thead>
        <tbody>
            
            <td>{{ row.user_id }}</td>
            <td>{{ row.subject_id }}</td>
        </tbody>
    </table>
{% endfor %}

{% endblock %}
