{% extends '_layout.html' %}

{% block title %}View{% endblock %}

{% block content %}

<h1>
    Hello 
    {{ result[0].First_Name }}
    {{ result[0].Last_Name }}
</h1>
<br>
{{ result[0].email }}
<br>
<p>These are the subjects that you have picked so far:</p>
<br>


<table>
    <thead>
        <tr>
            <th>User Id</th>
            <th>Subject Name</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for row in result %}
            <tr>
                <td>{{ row.user_id }}</td>
                <td>{{ row.subject_name }}</td>
                <td><a href="/selected_delete?id={{ row.subject_id }}" onclick="return confirm('Are you sure you wish to delete {{ row.subject_id }}?')">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
